server:
  port: 8888

spring:
  application:
    name: config-service

  profiles:
    active: native 

  cloud:
    config:
      server:
        native:
          search-locations: file:/S:/work_space/bpe-config-repo

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info
